{% extends "Main.html" %}

{% block title %}
<title>Blogs</title>
{% endblock title %}

{% block body %}
<form method="POST" , action="/edit/{{blog.blog_id}}">
    <div class="container">
        <div class="mb-3" style="margin-top:40px">
            <label for="text" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title Here" name="title" value="{{blog.tit_name}}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" placeholder="Author Name" name="author" value="{{blog.author}}">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Content</label>
            <textarea class="form-control" id="text" rows="6" name="text">{{blog.content}}</textarea>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-dark" style="margin-top:10px">SAVE</button>
        </div>
    </div>
</form>
{% endblock body %}